h1{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 60px;
    color: aliceblue;
}

h4{
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: aliceblue;
}
body{
    background: #112; /* You must set a specified height */
    background-position: center; /* Center the image */
    background-size: cover;
    
}

div{
    align-items: center;
}

img{
    margin-top: 100px;
    display:inline-block ;
    justify-content: center;
    align-items: center;
    width: 600px;
    height: 600px;
    margin-right: 200px;
    margin: auto;
    margin-bottom: 50px;
}
